# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS thumbnail files
._*

# Spotlight
.Spotlight-V100

# Trash
.Trashes

# AFP share files
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
